@page
@model Scene
@{
    ViewData["Title"] = "Scene1";
}
<script src="../js/Scene1/vsShaders.js"></script>
<script src="../js/Scene1/fsShaders.js"></script>
<script src="../js/Scene1/Main_Script.js"></script>

<p id="coord" style="position: fixed; top: 70px; left: 20px; ">x = 0; z = -4;</p>
<canvas id="glcanvas" width="1000" height="1000"></canvas>

@Model.OBJStoHTML("Field", "octopus", "teasure", "scorpion", "fish")

