<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Game</title>
    <link rel="stylesheet" href="~/bootstrap.min.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gl-matrix/2.8.1/gl-matrix-min.js"></script>
    <script src="../js/parseOBJ.js"></script>
    <script src="../js/init_and_load_shader.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
        <ul class="navbar-nav flex-grow-1" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); font-family: 'comic sans ms';">
            <li class="nav-item">
                <a class="nav-link text-dark" asp-page="/Scenes/Scene1">Underwater world</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-page="/Scenes/Scene2">Requem for a Tank</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-page="/Scenes/Scene3">Cartoon</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-page="/Scenes/Scene4">Scene4</a>
            </li>
        </ul>
    </nav>
    <div class="container">
        @RenderBody()
    </div>

</body>
</html>
