@page
@model IndexModel
@{
    ViewData["Title"] = "Start page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to game!</h1>
    <p>You can start from any scene of the game by selecting it from the menu.</p>
</div>
