@page
@{
    ViewData["Title"] = "Start page";
}

<div class="text-center" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); font-family: 'comic sans ms';">
    <h1 class="display-4">Welcome to game❗</h1>
    <p>You can start from any scene of the game by selecting it from the menu.</p>
</div>
